.footer-custom {
  background-color: #007bff;
  padding: 0;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  font-size: 16px;
  font-weight: 500;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin-right: 15px;
}

.nav-link {
  color: white !important;
  text-decoration: none;
  margin: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  transition:
    color 0.3s,
    transform 0.3s;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #dfe6e9 !important;
  transform: scale(1.1);
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: #ffd700 !important;
}

/* Styling for social media icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the icons */
}

.icon-link {
  color: #ffffff;
  transition:
    transform 0.3s ease,
    color 0.3s ease; /* Smooth transition on hover */
}

.icon-link:hover {
  color: #fff; /* Change icon color on hover */
  transform: translateY(-5px); /* Slight bounce effect on hover */
}

.icon-link:hover .fa-github {
  color: #fff;
}

.icon-link:hover .fa-linkedin {
  color: #fff;
}

.icon-link:hover .fa-globe {
  color: #fff;
}

.icon-link:hover .fa-envelope {
  color: #fff;
}
