<footer class="footer-custom mt-auto">
  <div class="container text-center" style="margin-top: 0">
    <!-- Footer Links -->
    <ul class="footer-links d-flex flex-wrap justify-content-center mb-3">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses" routerLinkActive="active"
        >Courses</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lessons" routerLinkActive="active"
        >Lessons</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/enrollments" routerLinkActive="active"
        >Enrollments</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active"
        >Users</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/progress" routerLinkActive="active"
        >Progress</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="isLoggedIn(); else loggedOut"
          (click)="logout()"
          style="cursor: pointer; font-weight: bold; color: #f45353 !important"
        >Logout</a
        >
        <ng-template #loggedOut>
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >Login</a
          >
        </ng-template>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/register"
          routerLinkActive="active"
          style="margin-right: 0"
        >Register</a
        >
      </li>
    </ul>

    <!-- Social Media Icons Section -->
    <div class="social-icons mb-3">
      <a
        href="https://github.com/hoangsonww/Learning-Management-System-Fullstack"
        target="_blank"
        class="icon-link"
      >
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a
        href="https://linkedin.com/in/hoangsonw"
        target="_blank"
        class="icon-link"
      >
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://sonnguyenhoang.com" target="_blank" class="icon-link">
        <i class="fas fa-globe fa-2x"></i>
      </a>
      <a href="mailto:hoangson091104@gmail.com" class="icon-link">
        <i class="fas fa-envelope fa-2x"></i>
      </a>
    </div>

    <!-- Copyright and Branding -->
    <p class="mb-0 text-white" style="text-align: center; margin-top: 25px">
      &copy; {{ currentYear }} Learning Management System. All rights reserved.
    </p>
  </div>
</footer>
