<div class="container">
  <h2 class="mb-4 text-primary text-center">Platform Overview</h2>

  <!-- Chart Section (Always visible) -->
  <div class="chart-section mb-5 mt-5">
    <div class="chart-container">
      <canvas id="enrollmentChart" width="200" height="200"></canvas>
    </div>
  </div>

  <!-- Loading Indicator for rest of the page -->
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Enrollment List and Errors (only shown when loading is false) -->
  <div *ngIf="!loading">
    <h2 class="mb-4 text-primary text-center">Enrollment List</h2>
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
    <div
      *ngIf="enrollments.length === 0 && !errorMessage"
      class="alert alert-info text-center"
    >
      No enrollments available.
    </div>

    <!-- Enrollment Cards Section -->
    <div class="row justify-content-center">
      <div
        class="col-md-6 col-lg-4 mb-4"
        *ngFor="let enrollment of enrollments"
      >
        <div class="card shadow-lg h-100 rounded-custom p-3">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h4 class="card-title text-primary">
                User: {{ enrollment.student }}
              </h4>
              <p class="card-text text-muted">
                <strong>Course:</strong> {{ enrollment.course }}
              </p>
              <!-- Now shows the course title -->
              <hr />
              <p class="card-text">
                <strong>Date Enrolled:</strong>
                {{ enrollment.enrolled_at | date: "fullDate" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
