.chart-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.chart-container {
  width: 300px;
  height: 300px;
}

.container {
  padding-top: 0;
}

.card {
  border: none;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  padding: 15px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-text {
  color: #666;
  font-size: 0.95rem;
}

.rounded-custom {
  border-radius: 15px;
  margin: 15px;
}

.loading-overlay {
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: light overlay effect */
  z-index: 9999; /* Ensure it stays on top */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
