<div class="container">
  <h2 class="mb-4 text-primary text-center">Platform Overview</h2>

  <!-- Chart Section (Always visible) -->
  <div class="chart-section mb-5 mt-5">
    <div class="chart-container">
      <canvas id="progressChart" width="200" height="200"></canvas>
    </div>
  </div>

  <!-- Loading Indicator for rest of the page -->
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Progress Records and Errors (only shown when loading is false) -->
  <div *ngIf="!loading">
    <h2 class="mb-4 text-primary text-center">Progress Records</h2>
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
    <div
      *ngIf="progressRecords.length === 0 && !errorMessage"
      class="alert alert-info text-center"
    >
      No progress records available.
    </div>

    <!-- Progress Records Cards Section -->
    <div class="row justify-content-center">
      <div
        class="col-md-6 col-lg-4 mb-4"
        *ngFor="let progress of progressRecords"
      >
        <div class="card shadow-lg h-100 rounded-custom p-3">
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h4 class="card-title text-primary">
                User: {{ progress.student }}
              </h4>
              <p class="card-text text-muted">
                <strong>Lesson:</strong> {{ progress.lesson }}
              </p>
              <p class="card-text">
                <strong>Status:</strong>
                {{ progress.completed ? "Completed" : "Not Completed" }}
              </p>
              <hr />
              <p class="card-text">
                <strong>Completed At:</strong> {{ progress.completed_at }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
